<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><img src="{{ '/assets/avatar.png' | absolute_url }}" alt="Luke Stringer's Avatar"><a href="/"></a>
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead"><i>lukestringer90</i> on <a href="https://twitter.com/lukestringer90">Twitter</a> & <a href="https://github.com/lukestringer90">Github</a></p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <a class="sidebar-nav-item" href="/blog">Blog</a>
      <a class="sidebar-nav-item" href="/talks">Talks</a>
      <a class="sidebar-nav-item" href="/conference_notes">Conference Notes</a>
      <a class="sidebar-nav-item" href="/cv">CV</a>

    </nav>

  </div>
</div>
